.fullpage {
    height: 100%;
}

.eventpage {
    height: 100%;
    width: 100%;
    background: grey;
    color: whitesmoke;
}

.eventheader {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 5px;
}

.eventdetails {
    background-image: url('../../images/genericevent.jpeg');
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventdetails div {
    color: black;
    background: whitesmoke;
    padding: 5px;
    width: 60%;
    font-size: 18px;
    border-radius: 5px;
}

.cartline {
    width: 100%;
    background: whitesmoke;
    color: black;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartline button {
    margin: 10px;
}

.cartlinetext {
    margin: 10px;
    font-size: 20px;
}

.ticketoptions {
    background: whitesmoke;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.selectoption {
    flex: 1;
    margin: 5px;
}

.optionsbutton {
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    font-size: 18px;
    min-width: 125px;
    align-self: flex-end;
}

.optionsbutton:hover {
    cursor: pointer;
}