.centeredcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    min-width: 300px;
    width: 66%;
    margin: auto;
    height: 100%;
}

.logoimage {
    width: 90px;
    height: 90px;
}

.banner {
    width: 100%;
    background-image: linear-gradient(#663399, #6633FF, #663399);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.bannerlogo {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.bannertext {
    flex: 2;
    color: whitesmoke;
    margin: 0px 5px;
}

.bannertext .title {
    font-size: 24px;
    margin: 15px 0px;
    border-bottom: solid 1px whitesmoke;
}

.bannertext .bannertextdetail {
    margin-bottom: 10px;
    color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bannertextdetail i {
    margin-right: 10px;
}

.categoryfilter {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    width: 100%;
    border: solid 2px #663399;
    border-radius: 5px;
}

.categoryfilter .tab {
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    border: none;
    background: transparent;
    color: #663399;
}

.categoryfilter .tab:hover, .categoryfilter .active {
    color: whitesmoke;
    background: #663399;
}

.offeringcard {
    border-bottom: solid 1px #663399;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.offeringheader {
    font-size: 28px;
    margin: 10px;
    padding: 10px 0px;
    border-bottom: solid 1px grey;
}

.offeringdetails {
    margin: 10px;
    font-size: 18px;
}

.formdiv {
    margin: 10px;
}

.formheader {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form {
    margin: 15px auto;
    width: 66%;
    font-size: 18px;
}

@media only screen and (min-width: 650px) {
    .logoimage {
        width: 125px;
        height: 125px;
    }

    .bannertext .title {
        font-size: 30px;
    }
}

@media only screen and (min-width: 900px) {
    .bannerlogo {
        margin-right: 20px;
    }
    .bannertext {
        margin-left: 10px;
    }
}