.overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    min-width: 350px;
    border: solid 2px #CC99CC;
    border-radius: 5px;
}

.modalbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.modalheader {
    width: auto;
    background: #CC99CC;
    font-size: 20px;
    padding: 10px;
}

.modaltext {
    padding: 10px;
    margin: 20px 0px;
    font-size: 18px;
}

.dropdownselect {
    display: flex;
    flex-direction: column;
}

.dropdownselect .displaytext {
    padding: 5px;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 16px;
}

.dropdownselect select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px grey;
    font-size: 16px;
    background: whitesmoke;
}

.dropdownlabel {
    font-size: 16px;
    padding: 5px;
}

.loading {
    color: #CC99CC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badgesection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
}

.badge {
    min-width: 110px;
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    color: whitesmoke;
    margin: 10px;
}